.container{
    display: flex;
    flex-direction:row ;
    /* width: auto; */
    /* justify-content: flex-start; */
    flex-wrap: wrap;

}
.navbarNavDropdown{
    flex-direction: row-reverse;
}
.card {
    width: 200px;
    flex-grow: 1 1 auto;
    border-radius: 10px;
    margin:0 auto;
    box-shadow: 10px 10px 5px grey;
    width: 25%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.card-body {
    box-shadow: 10px 10px 5px grey;
}

.jumbotron{
 background-image: url(./img/mandala.jpg); 
}
img{
    width: 100%;
    height: 400px;
    box-shadow: 10px 10px grey;
}
@media (max-width: 1070px){
.card {
    width: 45%;
}
}
@media (max-width: 600px){
    .card {
        width: 100%;
    }
    }

h1 {
    color: red;
}

p {
    color: black;
}
